<p>
<br>
</b>
<h1>Log In</h1>

<form action="action_page.php">
  <div class="imgcontainer">
    
  </div>

  <div class="container">
    <label><b>Username</b></label>
    <input type="username" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#000000">
   
	
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>